<!-- views/layout.erb -->

<!doctype html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= @heading %></title>
    <!--Mainstyles css -->
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" media="screen">
  </head>

  <body>
    <div class="container">
      <header class="head">
        <%= erb :header_partial %>
      </header>

        <%=yield%>

      <footer class="foot">
          <%= erb :footer_partial %>
      </footer>
  </div>
  </body>

</html>